* {
  text-align: center;
  background-color: gainsboro;
}

#img-div {
  background-color: white;
}

#image-caption {
  background-color: white;
  padding-bottom: 15px;
}

#image{
  max-width: 50%;
  display: inline;
  margin: 0 auto 0 auto;
}

#tribute-info {
  width: 50%;
  margin: 50px auto 50px auto;
}

li {
  margin: 15px auto 15px auto;
  text-align: start;
}